<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Project</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📘 Tentang Project</h1>

    <p>
        Project ini dibuat untuk memprediksi konsumsi listrik rumah tangga
        menggunakan algoritma machine learning.
    </p>

    <h3>Algoritma:</h3>

    <ul>
        <li>Linear Regression</li>
        <li>Decision Tree</li>
        <li>Random Forest</li>
        <li>KNN</li>
    </ul>

    <h3>Teknologi:</h3>

    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Scikit-learn</li>
        <li>Chart.js</li>
    </ul>

    <a href="/" class="back-btn">
        Kembali
    </a>

</div>

</body>
</html>